body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  margin-top: 100px;
}
.btn {
  padding: 5px 10px;
  font-size: 18px;
}

.remove {
  outline: none;
  border: none;
  background-color: white;
  text-decoration: underline;
  color: rgb(110, 110, 209);
  padding: 15px;
}

span {
  padding: 15px;
}